* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 1er exercice carré se déplace de droite à gauche */
#carre {
  width: 100px;
  height: 100px;
  animation: slidein 6s infinite ease-in-out;
  background-color: coral;
  position: relative;
}
@keyframes slidein {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
/* 2eme exercice carre se déplace de gauche à droite et revient au milieu en tournant sur lui-meme */
#tourne {
  width: 100px;
  height: 100px;
  border-top: 1px solid black;
  animation: translation 6s infinite ease-in-out, rotate 2s infinite linear;
  background-color: yellowgreen;
}
@keyframes translation {
  0% {
    margin-left: 0%;
  }
  66% {
    margin-left: calc(100% - 100px);
  }
  100% {
    margin-left: 50%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* tentative de hover avec déplacement */
.carre2 {
  width: 200px;
  height: 200px;
  background-color: rgb(86, 123, 186);
  position: relative;
  left: calc(100% - 200px);
}
.carre2:hover {
  animation: slide2 10s infinite;
}
@keyframes slide2 {
  from {
    left: calc(100% - 200px);
  }
  to {
    left: 0px;
  }
}
.cube {
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
  border: 1px solid grey;
  position: relative;
  left: calc(100% - 200px);
}
.cube:hover {
  animation: slide 10s infinite linear;
}
@keyframes slide {
  from {
    left: calc(100% - 200px);
  }
  to {
    left: 0px;
  }
}
/* hover carre tourne et translate */
#tourne2 {
  width: 300px;
  height: 300px;
  border-top: 1px solid black;
  background-color: yellowgreen;
}
#tourne2:hover {
  animation-name: translation2, rotate2;
  animation-duration: 6s, 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out, linear;
}
@keyframes translation2 {
  0% {
    margin-left: 0%;
  }
  66% {
    margin-left: calc(100% - 300px);
  }
  100% {
    margin-left: 50%;
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 4eme exercice carre se transforme en rond, fait un A/R en dimunant de taille et en changeant de couleur */
#ar {
  width: 400px;
  height: 400px;
  background-color: rgb(153, 213, 153);
  animation-name: rond, deplacement, size, couleur;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes rond {
  to {
    border-radius: 50%;
  }
}
@keyframes deplacement {
  50% {
    margin-left: calc(100% - 300px);
  }
  100% {
    margin-left: -100px;
  }
}
@keyframes size {
  50% {
    transform: scale(0.75, 0.75);
  }
  100% {
    transform: scale(0.5, 0.5);
  }
}
@keyframes couleur {
  0% {
    background-color: rgb(153, 213, 153);
  }
  25% {
    background-color: rgb(213, 181, 153);
  }
  50% {
    background-color: rgb(57, 126, 210);
  }
  75% {
    background-color: rgb(213, 120, 199);
  }
}
.hover {
  display: flex;
  justify-content: center;
  width: 100px;
  background-color: aqua;
  padding: 8px;
  margin: auto;
  transition: 2s;
  text-decoration: none;
  color: black;
}
.hover:hover {
  border-radius: 50%;
  background-color: black;
  color: aqua;
  width: 200px;
}
.hover2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 2em;
  background-color: aqua;
  padding: 8px;
  margin: auto;
  text-decoration: none;
  color: black;
  transition: 2s;
}
.hover2:hover {
    box-shadow: 0px 0px 20px aqua;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background-color: black;
    color: aqua;
    font-size: 1.8em;  
  }
